{% extends "base.html.twig" %}
{% block body %}

 <div class="container">
  <div class="row">
  <h3 class="mt-5 mb-5">Update Form</h3>

  {% for message in app.flashes('notice')%}
   <div class="alert alert-success">
   {{message}}
   </div>
   {%  endfor %}

     <div class="col-md-6 offset-md-3">
     {{ form_start(form)}}
     
    <div class="form-group">
    {{ form_label(form.cin) }}
     {{ form_widget(form.cin,{'attr':{'class':'form-control'}})}}
     </div>
      <div class="form-group">
       {{ form_label(form.nom) }}
       {{ form_widget(form.nom,{'attr':{'class':'form-control'}})}}
    </div>
     <div class="form-group">
       {{ form_label(form.prenom) }}
       {{ form_widget(form.prenom,{'attr':{'class':'form-control'}})}}
    </div>
     <div class="form-group">
       {{ form_label(form.specialite) }}
       {{ form_widget(form.specialite,{'attr':{'class':'form-control'}})}}
    </div>
     <div class="form-group">
     <button class="btn btn-info text-white mt-2">Update</button>
     {{ form_end(form)}}
     </div>
     </div>
 </div>



{% endblock %}